body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    /* color: whitesmoke;
    margin: 0px;
    padding: 0px; */
    background: url('https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
}

.left {
    position: absolute;
    left: 22px;
    top: 1px;
    display: inline-block;
    /* border: 2px solid wheat; */
}

.left img {
    width: 77px;
    filter: invert(100%);
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid orange; */
}

.mid {
    display: block;
    width: 44%;
    margin: 12px auto;
    border: 4px solid rgb(0, 0, 0);
}

.navbar {
    display: inline-block;
    color: antiquewhite;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a:active {

    text-decoration: underline;
    color: rgb(83, 78, 71);
}

.btn {
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0px 9px;
    background-color: rgb(185, 196, 198);
    color: rgba(8, 8, 7, 0.911);
    padding: 4px 15px;
    border: 2px solid rgb(160, 171, 193);
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover,
.btn:active{
    text-decoration: underline;
    color: rgb(20, 93, 220);
}

.container {
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 88px;
    width: 40%;
    border-radius: 28px;
    font-size: 15px;
}

.container h1 {
    text-align: center;
}

.container button {
    text-align: center;
    margin: 7px auto;
    width: 611px;
}

.form-group input {
    text-align: center;
    /* text-align: center; */
    display: block;
    width: 611px;
    margin: 3px auto;
    padding: 8px;
    border-radius: 6px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 15px;
}